body {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.screen {
    background-color: white;
    height: 50px;
    margin-bottom: 10px;
}
.number{
    display: flex;
}

.wrapper {
    width: 300px;
    background-color: gray;
    padding: 20px;
}

.button {
    text-align: center;
    padding: 8px 0;
    flex: 1 1 auto;
    margin: 5px;
    background-color: lightblue;
    font-family: 'Courier New', sans-serif;
    font-size: 15px;
}